body{
  margin: 0;
  padding: 0;
  background: #262626;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 309px;
  background: #000;
}
.text{
  padding: 40px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.text h2{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.img{
  width: 100%;
  height: 100%;
}
.img::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url(1.jpg);
  transform-origin: left;
  transition: 2s;
}
.box:hover .img::before{
  transform: rotateY(90deg) translateX(-20%);
}
.img::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(1.jpg);
  transform-origin: right;
  transition: 2s;
  background-position: 275px;
}
.box:hover .img::after{
  transform: rotateY(90deg) translateX(20%);
}